.Forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #EFF0F2;
}

.containerF {
    width: 500px;
    padding: 40px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logoContF {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.logoImageF {
    width: 300px;
}

.textCont h1 {
    color: #000000;
    margin: 10px;
    font-family: "Afacad Flux";
    font-size: 40px;
    text-align: center;
}

.textCont p {
    color: #000000;
    margin-bottom: 25px;
    font-family: "Afacad Flux";
    font-size: 20px;
    text-align: center;
}

.inputsF {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px auto;
}

.inputsF input {
    width: 100%;
    height: 100%;
    border: 1px solid #33333355;
    border-radius: 5px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: "Afacad Flux";
    font-size: 16px;
    padding: 20px 20px;
}

.inputsF input::placeholder {
    color: #333333d1;
}

.inputsF input:hover {
    border-color: #889400;
}

.inputsF input:focus {
    border-color: #889400;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3),
                0 0 16px rgba(250, 163, 0, 0.2);
    background-color: #ffffff;
    outline: none;
}

.containerF .btnRecuperarF {
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-family: "Afacad Flux";
    font-size: 15px;
    font-weight: bold;
    background-color: #FAA300;
    border-radius: 5px;
    border: 1px solid #33333355;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 5px;
}

.containerF .btnRecuperarF:hover {
    background-color: #e29300;
}