.Forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
}

.containerF {
    width: 500px;
    background-color: #000000;
    padding: 40px;
}

.logoContF {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.logoImageF {
    width: 300px;
}

.textCont {
    color: #ffffff;
    margin: 15px;
    text-align: center;
}

.textCont p {
    margin-top: 5px;
}

.inputsF {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px auto;
}

.inputsF input {
    width: 100%;
    height: 100%;
    border: 1px solid #33333355;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px 20px;
}

.inputsF input::placeholder {
    color: #333333d1;
}

.inputsF input:hover {
    border-color: #889400;
}

.inputsF input:focus {
    border-color: #889400;
    box-shadow: 0 0 10px rgb(211, 218, 0);
    background-color: #ffffff;
    outline: none;
}

.containerF .btnRecuperarF {
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    background-color: #dfb300;
    border-radius: 5px;
    border: 1px solid #33333355;
    cursor: pointer;
}

.containerF .btnRecuperarF:hover {
    background-color: #b08d00;
}