.contColaboradores {
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #38106B;
  font-family: 'Arial', sans-serif;
}

.contCTopo {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 0 10px 0 10px;
}

.contCTopo h1 {
  font-family: "Afacad Flux";
  font-size: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.contCTopo button {
  background-color: #149911;
  font-family: "Afacad Flux";
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.contCTopo button:hover {
  background-color: #256D1B;
}

.colaboradores-list {
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  min-height: 85vh;
  max-height: 85vh;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding: 20px;
}
  
.colaboradores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}