.Home {
    min-height: 100vh;
    background-color: #000000;
}

.bodyHome {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000;
    width: 100%;
  }
  
  
  .bodyHome > * {
    flex: 1;
    max-width: 48%;
  }
  
  .bodyHome > *:first-child {
    flex: 0 0 10%;
    max-width: 10%;
    position: relative;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  .contentArea {
    flex: 0 0 90%;
    max-width: 90%;
    background-color: #000000;
    border-radius: 0px 5px 5px 0px;
  }
  