.eventCard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
  
  .eventCard h3 {
    margin: 0 0 5px;
    font-family: "Afacad Flux";
    font-size: 1.1rem;
    color: #333;
  }
  
  .eventCard p {
    margin: 0;
    font-family: "Afacad Flux";
    font-size: 0.9rem;
    color: #555;
  }