.Create {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #EFF0F2;
}

.containerC {
    width: 500px;
    padding: 40px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logoContC {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.logoImageC {
    width: 300px;
}

.textContC h1 {
    color: #000000;
    margin: 10px;
    font-family: "Afacad Flux";
    font-size: 40px;
    text-align: center;
}

.textContC p {
    color: #000000;
    margin-bottom: 15px;
    font-family: "Afacad Flux";
    font-size: 20px;
    text-align: center;
}


.containerC .btnRecuperarC {
    width: 100%;
    height: 40px;
    color: #ffffff;
    color: #ffffff;
    font-family: "Afacad Flux";
    font-size: 20px;
    font-weight: bold;
    background-color: #149911;
    border-radius: 5px;
    border: 1px solid #33333355;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}

.containerC .btnRecuperarC:hover {
    background-color: #256D1B;
}
