.container {
    width: 500px;
    background-color: #000000;
    padding: 40px;
}

.logoCont {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.logoImage {
    width: 300px;
}

.inputs {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px auto;
}

.inputs input {
    width: 100%;
    height: 100%;
    border: 1px solid #33333355;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px 20px;
}

.inputs input::placeholder {
    color: #333333d1;
}

.inputs input:hover {
    border-color: #2e8b57;
}

.inputs input:focus {
    border-color: #008227;
    box-shadow: 0 0 10px rgb(1, 193, 84);
    background-color: #ffffff;
    outline: none;
}

.container .btnEntrar {
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #00a146;
    border-radius: 5px;
    border: 1px solid #33333355;
    cursor: pointer;
}

.container .btnEntrar:hover {
    background-color: #007436;
}

.container .btnCriar {
    width: 100%;
    height: 30px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #33333355;
    cursor: pointer;
    margin-top: 10px;
}

.container .btnCriar:hover {
    background-color: #e2e2e2;
}

.resetPassword {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.resetPassword a {
    font-size: 14.5px;
    color: #ffffff;
}

.resetPassword a:hover {
    color: #B87333;
}