.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/BackgroundLogin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 500px;
    padding: 40px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logoCont {
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-bottom: 30px;
}

.logoImageL {
    width: 300px;
}

.inputs {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px auto;
}

.inputEmail {
    width: 100%;
    height: 100%;
    border: 1px solid #33333355;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: "Afacad Flux";
    font-size: 16px;
    padding: 20px 20px;
}

.inputPassword {
    width: 100%;
    height: 100%;
    border: 1px solid #33333355;
    border-radius: 0 0 5px 5px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: "Afacad Flux";
    font-size: 16px;
    padding: 20px 20px;
}

.inputs input::placeholder {
    color: #333333d1;
}

.inputs input:hover {
    border-color: #fAA300;
}

.inputs input:focus {
    background-color: #ffffff;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3),
                0 0 16px rgba(250, 163, 0, 0.2);
    outline: none;
}

.container .btnEntrar {
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-family: "Afacad Flux";
    font-size: 20px;
    font-weight: bold;
    background-color: #149911;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 15px;
}

.container .btnEntrar:hover {
    background-color: #256D1B;
}

.container .btnCriar {
    width: 100%;
    height: 30px;
    color: #000000;
    font-family: "Afacad Flux";
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 10px;
}

.container .btnCriar:hover {
    background-color: #e2e2e2;
}

.resetPassword {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.resetPassword a {
    font-size: 16px;
    font-family: "Afacad Flux";
    color: #ffffff;
}

.resetPassword a:hover {
    color: #000000;
}